*{
    margin:0;
    padding:0;
    height:100%;
    box-sizing: border-box;
}

body{
    
    background:linear-gradient(to bottom, green, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head_bar{
    display: inline-block;
    height: max-content;
    width: 100%;
    color: white;
    font-weight: 600;
    text-shadow: 10px 10px 50px black;
    border-bottom: none;
    box-shadow: 0px 0px 90px 0px;
    padding: 1%;
    margin-bottom: 5%;
}
.titre{
    font-size: 30px;
    text-align: center;
    width:100%;
    height:auto;
 
}
.head_bar a{
    background: rgba(255, 255, 255, 0.281);
    height: auto;
    padding:10px;
    float: left;
    margin-left: 5%;
    font-size: 15px;
    border-top: 3px solid rgba(255, 255, 0, 0.342);
    border-radius: 15px;
    text-decoration: none;
 
}
a .btn{
        font-size: 15px;
        font-weight: 800;
        color: black;
}

#crea_1 {
    background: url(../creation/img/fingerprint.png);
    background-size: cover;
    width: 350px;
    height: 300px;
}

#crea_2 {
    background: url(../creation/img/Squid_game.png);
    background-size: cover;
    width: 350px;
    height: 300px;
}

#crea_3 {
    background: url(../creation/img/sabre.JPG);
    background-size: cover;
    width: 350px;
    height: 300px;
}



.container a{
    
    width:350px;
    height:300px;
    background-image:url(../creation/img/hyper-vitesse.jpg);
    background-size:cover;
    background-attachment:local;
    margin-bottom: 10%;
    border-radius: 20px;
    text-decoration: none;
}

.container{
    margin-top: 1%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50%;
   
}

.items{

    position: relative;
    color: white;
    font-size: 100%;
    border: 5px ridge green;
    border-radius: 20px;

}



.top{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.281);
    border-bottom: 3px solid rgba(255, 255, 0, 0.342);
    box-shadow: 0px 5px 10px 0px ;
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;

}
.top span{
    padding: 1px;
    font-size: 20px;
    color: red;
    text-shadow: 1px 1px 10px red;
}
.bottom{
    height: auto;
    width: 100%;
    background-color: rgba(63, 62, 62, 0.801);
    text-align: center;
    border-top: 3px solid rgba(255, 255, 0, 0.342);
    box-shadow: 0px -5px 10px 0px ;
    position: absolute;
    border-radius: 15px;
    padding: 5px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
  
}
.bottom span{
    position: absolute;
    color: rgba(255, 0, 0, 0.431);
    text-shadow: 1px 1px 10px red; 
    font-weight: 700;
    font-size: 20px;
}
.bottom p {
    color: green;
    text-shadow: 1px 1px black;
    font-weight: 700;
}
